In [1]:
import pandas as pd

In [34]:
file_path = 'D:\Source_project\ETL_Pipeline_Tiki\data_crawl\data_product_231124.csv'
df = pd.read_csv(file_path)
df.head()

,id,product_name,brand_name,short_description,original_price,price_after_voucher,discount_rate,discount_price,quantity_sold,rating_average,review_count,warranty_info,return_policy,url_img,date
0,125182567,Máy đọc sách All New Kindle Paperwhite 5 (11th...,Kindle,Amazon vừa chính thức ra mắt thế hệ tiếp theo ...,3880000,3880000,0,0,1556,5.0,406,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/14/2f/c6/a...,2024-11-23
1,217706932,Combo Máy đọc sách All New Kindle Paperwhite 5...,Kindle,Amazon vừa chính thức ra mắt thế hệ tiếp theo ...,3890000,3890000,0,0,496,5.0,128,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/5a/a9/fd/6...,2024-11-23
2,271362153,Combo Máy đọc sách All New Kindle Paperwhite 5...,Kindle,Amazon vừa chính thức ra mắt thế hệ tiếp theo ...,4290000,3950000,8,340000,10,5.0,1,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/4d/65/eb/8...,2024-11-23
3,217645692,Combo Máy đọc sách All New Kindle Paperwhite 5...,Kindle,Amazon vừa chính thức ra mắt thế hệ tiếp theo ...,4490000,4050000,10,440000,18,4.8,5,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/51/8f/6b/1...,2024-11-23
4,274550926,Điện thoại Realme C60 (4GB/64GB) - Hàng Chính ...,Realme,Trải nghiệm xem ấn tượng với 90HzVới màn hình ...,2990000,2290000,23,700000,2006,5.0,9,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/06/b1/80/d...,2024-11-23

In [75]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://myuser:mypassword@localhost:5432/mydatabase2')

class ETLProcess:

    def __init__(self):
        self.engine = engine
    def transform_data(self,file_path):
        print("Transforming data")
        ## transform data to fit with date_dim_table
        df = pd.read_csv(file_path)
        df['date'] = pd.to_datetime(df['date'])
        df['day'] = df['date'].dt.day
        df['month'] = df['date'].dt.month
        df['year'] = df['date'].dt.year
        df['quarter'] = df['date'].dt.quarter
        
        ## transform data to fit with product_dim_table and sales_fact_table
        df = df.rename(columns={
        'id': 'product_id',
        'product_name': 'product_name',
        'brand_name': 'brand_name',
        'short_description': 'short_description',
        'original_price': 'original_price',
        'price_after_voucher': 'price_after_voucher',
        'discount_rate': 'discount_rate',
        'discount_price': 'discount_price',
        'quantity_sold': 'quantity_sold',
        'rating_average': 'rating_average',
        'review_count': 'review_count',
        'warranty_info': 'warranty_info',
        'return_policy': 'return_policy',
        'url_img': 'url_img'
    })
        df['product_id'] = df['product_id'].astype('Int64')  # BIGINT
        df['product_name'] = df['product_name'].astype('str')  # TEXT
        df['brand_name'] = df['brand_name'].astype('str')  # TEXT
        df['short_description'] = df['short_description'].astype('str')  # TEXT
        df['original_price'] = df['original_price'].astype('int64')  # BIGINT
        df['price_after_voucher'] = df['price_after_voucher'].astype('int64')  # BIGINT
        df['discount_rate'] = df['discount_rate'].astype('int64')  # INTEGER
        df['discount_price'] = df['discount_price'].astype('int64')  # BIGINT
        df['quantity_sold'] = df['quantity_sold'].astype('int64')  # INTEGER
        df['rating_average'] = df['rating_average'].astype('float64')  # DOUBLE PRECISION
        df['review_count'] = df['review_count'].astype('int64')  # INTEGER
        df['warranty_info'] = df['warranty_info'].astype('str')  # TEXT
        df['return_policy'] = df['return_policy'].astype('str')  # TEXT
        df['url_img'] = df['url_img'].astype('str')  # TEXT
        df['date'] = df['date'].astype('datetime64[ns]')  # TIMESTAMP
        df['day'] = df['day'].astype('int32')  # INTEGER
        df['month'] = df['month'].astype('int32')  # INTEGER
        df['year'] = df['year'].astype('int32')  # INTEGER
        df['quarter'] = df['quarter'].astype('int32')  # INTEGER
        print("Transformed data successfully")
        self.df = df
        # return self.df
    
    def load_product_dim_table(self):
        
        self.df[['product_id', 'product_name', 'brand_name', 'short_description', 'warranty_info', 'return_policy', 'url_img']].to_sql('product_dim_table', self.engine, if_exists='append', index=False)
        print("Loaded data successfully")

    def load_sales_fact_table(self):
        self.df[['product_id','date','price_after_voucher', 'original_price', 'discount_rate', 'discount_price', 'quantity_sold', 'rating_average', 'review_count']].to_sql('sales_fact_table', self.engine, if_exists='append', index=False)
        print("Loaded data successfully")
    def load_date_dim_table(self):
        date_dim_table = self.df[['date','day', 'month', 'year', 'quarter']].drop_duplicates()
        date_dim_table.to_sql('date_dim_table', self.engine, if_exists='append', index=False)
        print("Loaded data successfully")

In [76]:
engine = create_engine('postgresql://myuser:mypassword@localhost:5432/mydatabase2')
dir_file = 'D:\Source_project\ETL_Pipeline_Tiki\data_crawl'
import os
list_file = os.listdir(dir_file)
for file in list_file:
    file_path = os.path.join(dir_file, file)
    ETLProcess.transform_data(engine,file_path)
    ETLProcess. load_sales_fact_table(engine)
    print("Done file: ", file)
# ETLProcess.load_date_dim_table(engine)

Transforming data
Transformed data successfully

Loaded data successfully
Done file:  data_product_011124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_021124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_031124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_041124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_051124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_061124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_071124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_081124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_091124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_101124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_111124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_121124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_131124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_141124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_151124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_161124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_171124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_181124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_191124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_201124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_211124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_221124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_231124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_241124.csv
Transforming data
Transformed data successfully
Loaded data successfully
Done file:  data_product_251124.csv

In [77]:
df = pd.read_csv('D:\Source_project\ETL_Pipeline_Tiki\sentiment_processed.csv')

In [78]:
df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)

In [79]:
df.to_csv('D:\Source_project\ETL_Pipeline_Tiki\sentiment_processed.csv', index=False)