In [1]:
import pandas as pd

In [4]:
file_path = 'D:\Source_project\ETL_Pipeline_Tiki\data_crawl\data_product_231124.csv'
df = pd.read_csv(file_path)
df['brand_name'].value_counts()

brand_name
Samsung            88
Xiaomi             56
OPPO               43
Kindle             29
Panasonic          26
Realme             19
Nokia              15
Tecno              15
Apple              14
Oukitel            14
Vivo               12
Masstel            11
Itel                7
Baseus              7
Ulefone             6
Onyx Boox           5
POCO                4
Kobo                4
TEKKIN              3
Mobell              2
Nexta               2
Vankyo              2
Honor               2
Alcatel             1
ZTE                 1
Vsmart              1
Uniden              1
Pocketbook          1
Sony                1
HANET               1
VNPT Technology     1
KTEL                1
HP                  1
Likebook            1
Fanvil              1
TCL                 1
Flyingvoice         1
Name: count, dtype: int64

In [8]:
def transform_data(file_path):
        print("Transforming data")
        ## transform data to fit with date_dim_table
        df = pd.read_csv(file_path)
        df['date'] = pd.to_datetime(df['date'])
        df['day'] = df['date'].dt.day
        df['month'] = df['date'].dt.month
        df['year'] = df['date'].dt.year
        df['quarter'] = df['date'].dt.quarter
        
        ## transform data to fit with product_dim_table and sales_fact_table
        df = df.rename(columns={
        'id': 'product_id',
        'product_name': 'product_name',
        'brand_name': 'brand_name',
        'short_description': 'short_description',
        'original_price': 'original_price',
        'price_after_voucher': 'price_after_voucher',
        'discount_rate': 'discount_rate',
        'discount_price': 'discount_price',
        'quantity_sold': 'quantity_sold',
        'rating_average': 'rating_average',
        'review_count': 'review_count',
        'warranty_info': 'warranty_info',
        'return_policy': 'return_policy',
        'url_img': 'url_img'
    })
        df['product_id'] = df['product_id'].astype('Int64')  # BIGINT
        df['product_name'] = df['product_name'].astype('str')  # TEXT
        df['brand_name'] = df['brand_name'].astype('str')  # TEXT
        df['short_description'] = df['short_description'].astype('str')  # TEXT
        df['original_price'] = df['original_price'].astype('int64')  # BIGINT
        df['price_after_voucher'] = df['price_after_voucher'].astype('int64')  # BIGINT
        df['discount_rate'] = df['discount_rate'].astype('int64')  # INTEGER
        df['discount_price'] = df['discount_price'].astype('int64')  # BIGINT
        df['quantity_sold'] = df['quantity_sold'].astype('int64')  # INTEGER
        df['rating_average'] = df['rating_average'].astype('float64')  # DOUBLE PRECISION
        df['review_count'] = df['review_count'].astype('int64')  # INTEGER
        df['warranty_info'] = df['warranty_info'].astype('str')  # TEXT
        df['return_policy'] = df['return_policy'].astype('str')  # TEXT
        df['url_img'] = df['url_img'].astype('str')  # TEXT
        df['date'] = df['date'].astype('datetime64[ns]')  # TIMESTAMP
        df['day'] = df['day'].astype('int32')  # INTEGER
        df['month'] = df['month'].astype('int32')  # INTEGER
        df['year'] = df['year'].astype('int32')  # INTEGER
        df['quarter'] = df['quarter'].astype('int32')  # INTEGER
        df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
        df = df.sort_values(by='date')
        df['quantity_sold_by_day'] = df.groupby('product_id')['quantity_sold'].diff().fillna(0).astype(int)
        df['quantity_sold_by_day']= df['quantity_sold_by_day'].apply(lambda x: 0 if x < 0 else x)
        print("Transformed data successfully")
        return df

In [22]:
import pandas as pd
import os
dir_file = 'D:\Source_project\ETL_Pipeline_Tiki\data_crawl'
list_file = os.listdir(dir_file)
all_data = []
for file in list_file:
    list_file_path =[]
    file_path = os.path.join(dir_file, file)
    data_trans = transform_data(file_path)
    all_data.append(data_trans)
final_data = pd.concat(all_data)

Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully
Transforming data
Transformed data successfully

,product_id,product_name,brand_name,short_description,original_price,price_after_voucher,discount_rate,discount_price,quantity_sold,rating_average,review_count,warranty_info,return_policy,url_img,date,day,month,year,quarter,quantity_sold_by_day
0,125182567,Máy đọc sách All New Kindle Paperwhite 5 (11th...,Kindle,Amazon vừa chính thức ra mắt thế hệ tiếp theo ...,4590000,4060000,12,530000,1548,5.0,404,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/14/2f/c6/b...,2024-11-01,1,11,2024,4,0
272,274065746,Điện thoại siêu bền Oukitel WP33 Pro 5G (Loa t...,Oukitel,"Màn hình 6,6 inch FHD+HĐH: Android 13CPU: Medi...",8990000,8990000,0,0,0,0.0,0,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/a0/1b/4d/1...,2024-11-01,1,11,2024,4,0
271,271730109,"Điện thoại chắc chắn Ulefone Armor X13, (Ram 1...",Ulefone,"Màn hình: 6,52 inch, 720 x 1600 HD+, 20:9, 269...",4390000,4390000,0,0,6,5.0,2,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/4e/e7/c4/5...,2024-11-01,1,11,2024,4,0
270,272850971,Điện thoại Libero 5G III - 4/64GB Dimensity 70...,Tecno,Cấu hình chi tiết : Độ phân giải Full HD+ (108...,2990000,2459000,18,531000,8,5.0,3,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/93/48/44/1...,2024-11-01,1,11,2024,4,0
269,188030974,Máy tính bảng Oukitel RT1 - hàng chính hãng (...,Oukitel,"bạn phải đậy thật kỹ nút sạc ,khe sim khi sử đ...",6990000,6990000,0,0,0,0.0,0,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/b4/5a/05/8...,2024-11-01,1,11,2024,4,0

In [64]:
import matplotlib.pyplot as plt
df['date'] = pd.to_datetime(df['date'], format ='$d-$m-%Y')
df = df.sort_values(by='date')
df['quantity_sold_by_day'] = df.groupby('product_id')['quantity_sold'].diff().fillna(0).astype(int)
df['quantity_sold_by_day']= df['quantity_sold_by_day'].apply(lambda x: 0 if x < 0 else x)
df = df.loc[df['brand_name'] == 'Apple'].copy()
df.groupby('product_id').agg({'quantity_sold':'sum'})

            quantity_sold
product_id
184036446          578696
184059211          320449
197214029           23639
205815576           12959
271966786           21307
271967379           11087
271972435               0
271973414          143488
275042829             230
275042833              80
276109904           21908
276110023            5609
276110276            2589
276110349            6543

In [65]:
df

,product_id,product_name,brand_name,short_description,original_price,price_after_voucher,discount_rate,discount_price,quantity_sold,rating_average,review_count,warranty_info,return_policy,url_img,date,day,month,year,quarter,quantity_sold_by_day
69,197214029,Apple iPhone 14,Apple,Nội dung quảng cáoiPhone 14. Với hệ thống came...,24990000,16990000,32,8000000,638,5.0,156,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/3b/95/ec/5...,2024-11-01,1,11,2024,4,0
101,275042829,Apple iPad Pro M4 11-Inch Wi-Fi,Apple,Nội dung quảng cáoiPad Pro mới mỏng xuất chúng...,28990000,26990000,7,2000000,25,5.0,9,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/bd/8c/36/f...,2024-11-01,1,11,2024,4,0
38,184036446,Apple iPhone 11,Apple,"Nội dung về tính năngQuay video 4K, chụp ảnh c...",15999000,9890000,38,6109000,14463,4.8,3079,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/aa/24/e0/d...,2024-11-01,1,11,2024,4,0
5,276109904,Apple iPhone 16 Pro Max,Apple,...,34990000,34990000,0,0,410,5.0,55,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/be/d9/31/f...,2024-11-01,1,11,2024,4,0
9,184059211,Apple iPhone 13,Apple,iPhone 13. Hệ thống camera kép tiên tiến nhất ...,24990000,13090000,48,11900000,7725,5.0,2006,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/c2/95/b0/4...,2024-11-01,1,11,2024,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,271966786,Apple iPhone 15,Apple,Nội dung quảng cáoiPhone 15 sở hữu Dynamic Isl...,22490000,19290000,14,3200000,521,5.0,100,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/eb/7c/d3/9...,2024-12-11,11,12,2024,4,0
66,271967379,Apple iPhone 15 Plus,Apple,Nội dung quảng cáoLuôn cập nhật những thông ti...,25990000,22290000,14,3700000,272,4.8,42,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/eb/7c/d3/0...,2024-12-11,11,12,2024,4,0
69,197214029,Apple iPhone 14,Apple,Nội dung quảng cáoiPhone 14. Với hệ thống came...,24990000,16850000,33,8140000,639,5.0,156,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/3b/95/ec/5...,2024-12-11,11,12,2024,4,0
14,276110349,Apple iPhone 16,Apple,...,22990000,21490000,7,1500000,171,5.0,22,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/08/c4/e4/7...,2024-12-11,11,12,2024,4,0
127,275042833,Apple iPad Pro M4 11-Inch Wi-Fi+ Cellular,Apple,Nội dung quảng cáoiPad Pro mới mỏng xuất chúng...,34490000,30990000,10,3500000,2,0.0,0,12 Tháng,Đổi trả miễn phí trong 30 ngày,https://salt.tikicdn.com/ts/product/30/81/a2/c...,2024-12-11,11,12,2024,4,0

In [13]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from psycopg2.extras import execute_values

# Kết nối tới database
engine = create_engine('postgresql://myuser:mypassword@localhost:5432/mydatabase2')

class ETLProcess:
    def __init__(self):
        self.engine = engine
        self.conn = psycopg2.connect("dbname=mydatabase2 user=myuser password=mypassword host=localhost")
        self.cursor = self.conn.cursor()

    def transform_data(self, file_path):
        print("Transforming data")
        # Transform data to fit with date_dim_table
        df = pd.read_csv(file_path)
        df['date'] = pd.to_datetime(df['date'])
        df['day'] = df['date'].dt.day
        df['month'] = df['date'].dt.month
        df['year'] = df['date'].dt.year
        df['quarter'] = df['date'].dt.quarter
        
        # Transform data to fit with product_dim_table and sales_fact_table
        df = df.rename(columns={
            'id': 'product_id',
            'product_name': 'product_name',
            'brand_name': 'brand_name',
            'short_description': 'short_description',
            'original_price': 'original_price',
            'price_after_voucher': 'price_after_voucher',
            'discount_rate': 'discount_rate',
            'discount_price': 'discount_price',
            'quantity_sold': 'quantity_sold',
            'rating_average': 'rating_average',
            'review_count': 'review_count',
            'warranty_info': 'warranty_info',
            'return_policy': 'return_policy',
            'url_img': 'url_img'
        })
        
        # Data transformation: Change column types
        df['product_id'] = df['product_id'].astype('Int64')
        df['product_name'] = df['product_name'].astype('str')
        df['brand_name'] = df['brand_name'].astype('str')
        df['short_description'] = df['short_description'].astype('str')
        df['original_price'] = df['original_price'].astype('int64')
        df['price_after_voucher'] = df['price_after_voucher'].astype('int64')
        df['discount_rate'] = df['discount_rate'].astype('int64')
        df['discount_price'] = df['discount_price'].astype('int64')
        df['quantity_sold'] = df['quantity_sold'].astype('int64')
        df['rating_average'] = df['rating_average'].astype('float64')
        df['review_count'] = df['review_count'].astype('int64')
        df['warranty_info'] = df['warranty_info'].astype('str')
        df['return_policy'] = df['return_policy'].astype('str')
        df['url_img'] = df['url_img'].astype('str')
        df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
        df['day'] = df['day'].astype('int32')
        df['month'] = df['month'].astype('int32')
        df['year'] = df['year'].astype('int32')
        df['quarter'] = df['quarter'].astype('int32')
        
        # df = df.sort_values(by='date')
        # df['quantity_sold_by_day'] = df.groupby('product_id')['quantity_sold'].diff().fillna(0).astype(int)
        # df['quantity_sold_by_day']= df['quantity_sold_by_day'].apply(lambda x: 0 if x < 0 else x)
        # print("Transformed data successfully")
        
        self.df = df
        print("Data transformed successfully")
    
    def load_product_dim_table(self):
        with self.conn:
            insert_query = """
            INSERT INTO product_dim_table (product_id, product_name, brand_name, short_description, warranty_info, return_policy, url_img)
            VALUES %s
            """
            data_to_insert = self.df[['product_id', 'product_name', 'brand_name', 'short_description', 'warranty_info', 'return_policy', 'url_img']].values.tolist()
            execute_values(self.cursor, insert_query, data_to_insert)
            print("Loaded product_dim_table successfully")

    def load_sales_fact_table(self):
        with self.conn:
            insert_query = """
            INSERT INTO sales_fact_table (product_id, date, price_after_voucher, original_price, discount_rate, discount_price, quantity_sold, rating_average, review_count)
            VALUES %s
            """
            data_to_insert = self.df[['product_id', 'date', 'price_after_voucher', 'original_price', 'discount_rate', 'discount_price', 'quantity_sold', 'rating_average', 'review_count']].values.tolist()
            execute_values(self.cursor, insert_query, data_to_insert)
            print("Loaded sales_fact_table successfully")

    def load_date_dim_table(self):
        with self.conn:
            insert_query = """
            INSERT INTO date_dim_table (date, day, month, year, quarter)
            VALUES %s
            """
            date_dim_table = self.df[['date', 'day', 'month', 'year', 'quarter']].drop_duplicates()
            data_to_insert = date_dim_table.values.tolist()
            execute_values(self.cursor, insert_query, data_to_insert)
            print("Loaded date_dim_table successfully")

    def close_connection(self):
        self.cursor.close()
        self.conn.close()


# Example usage
etl = ETLProcess()
dir_file = 'D:/Source_project/ETL_Pipeline_Tiki/data_crawl'
import os
list_file = os.listdir(dir_file)

for file in list_file:
    file_path = os.path.join(dir_file, file)
    etl.transform_data(file_path)
    # etl.load_date_dim_table()
    etl.load_sales_fact_table()
    print("Done file:", file)

etl.close_connection()

Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_011124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_011224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_021124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_021224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_031124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_031224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_041124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_041224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_051124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_051224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_061124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_061224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_071124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_071224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_081124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_081224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_091124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_091224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_101124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_101224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_111124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_111224.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_121124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_131124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_141124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_151124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_161124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_171124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_181124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_191124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_201124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_211124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_221124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_231124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_241124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_251124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_261124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_271124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_281124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_291124.csv
Transforming data
Data transformed successfully
Loaded sales_fact_table successfully
Done file: data_product_301124.csv